<footer class="footer" role="contentinfo">

	{{#if settings.show_newsletter_box}}
		<section class="mps-newsletter" data-section-type="newsletterSubscription">
			<div class="container">
				<div class="mps-newsletter-maxwidth">
					{{> components/common/subscription-form}}
				</div>
			</div>
		</section>
	{{/if}}

   <div class="container">
		<section class="footer-info">
			<article class="footer-info-col footer-info-col--small" data-section-type="">
				<h5 class="footer-info-heading">Heading</h5>
				<ul class="footer-info-list">
					<li><a href="">Text link example</a></li>
					<li><a href="">Text link example</a></li>
					<li><a href="">Text link example</a></li>
				</ul>
			</article>
			<article class="footer-info-col footer-info-col--small" data-section-type="">
				<h5 class="footer-info-heading">Heading</h5>
				<ul class="footer-info-list">
					<li><a href="">Text link example</a></li>
					<li><a href="">Text link example</a></li>
					<li><a href="">Text link example</a></li>
				</ul>
			</article>
			<article class="footer-info-col footer-info-col--small" data-section-type="">
				<h5 class="footer-info-heading">Heading</h5>
				<ul class="footer-info-list">
					<li><a href="">Text link example</a></li>
					<li><a href="">Text link example</a></li>
					<li><a href="">Text link example</a></li>
				</ul>
			</article>
			<article class="footer-info-col footer-info-col--small" data-section-type="">
				<h5 class="footer-info-heading">Heading</h5>
				<ul class="footer-info-list">
					<li><a href="">Text link example</a></li>
					<li><a href="">Text link example</a></li>
					<li><a href="">Text link example</a></li>
				</ul>
			</article>
		</section>
		
		<section class="mps-copyright">
        {{#if theme_settings.show_copyright_footer}}
            <div class="mps-copyright-col col1">
                <p class="powered-by">&copy; {{moment format="YYYY"}} All rights reserved. {{settings.store_name}} </p>
            </div>
        {{/if}}
        {{#if theme_settings.social_icon_placement_bottom '!==' 'bottom_none'}}
            <div class="mps-copyright-col col2">
               {{> components/common/social-links}}
            </div>
        {{/if}}
		</section>        

   </div>
</footer>
